---
import Main from "../components/Main.astro";
---

<html lang="en">
  <head>
    <style>
      body {
        background-color: #23262E;
      }
    </style>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Steam Multisell</title>
  </head>
  <body>
    <Main></Main>
  </body>
</html>
