<style>
    .github-btn {
        background-image: linear-gradient(#96c540 0%,#395d22 100%);
        display: inline-block;
        padding: 10px 15px;
        color: white;
        text-decoration: none;
        font-size: 0.75rem;
        border: 4px solid rgba(0,0,0,0)
        cursor: pointer;
        transition: background-color .32s ease-in-out;
        text-align: center;
        font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
    }

    .github-btn:hover {
        background-image: linear-gradient(#83ac38 0%,#32531e 100%);
    }
</style>
<a href="https://github.com/AminoffZ/steam-multisell" class="github-btn" target="_blank">GitHub</a>
